.found h3,
.catalog_type,
.feed_header,
.home_middle>h3 {
  margin: 25px 0 0 35px;
}
hr {
  border-top: 1px solid #f0f0f0;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
  margin: 0;
}
body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  background-color: #fefefe;
}
a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: inline-block;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
h3 {
  font-size: 18px;
  word-spacing: 2px;
}
.clear-fix {
  *zoom: 1;
}
.clear-fix:before,
.clear-fix:after {
  content: '';
  display: table;
}
.clear-fix:after {
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
.breadcrumb {
  margin: 15px 0 0 35px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
}
.breadcrumb_separator {
  margin: 0 5px;
}
.breadcrumb--parent {
  color: #f3df6d;
}
.found {
  margin: 35px 0 0 0;
}
.found ul {
  margin: 20px 0 0 0;
  padding: 0 35px;
}
.found ul li {
  height: 102px;
  padding: 15px;
  cursor: pointer;
}
.found ul li:hover {
  background-color: #faf7e9;
}
.found_logo {
  background: url("../img/com_logo.jpg") center no-repeat;
  width: 100px;
  height: 100px;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  float: left;
}
.found_text {
  height: 100px;
  padding-left: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.found_text h3,
.found_text h5 {
  margin: 0;
}
.found_text h3 {
  font-weight: 400;
  font-size: 17px;
}
.found_text h5:first-of-type {
  margin: 10px 0;
  font-size: 12px;
  font-weight: 300;
}
.found_text h5:last-of-type {
  color: #ccc;
  font-weight: 300;
  font-size: 12px;
}
.found_more {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  width: 170px;
  height: 40px;
  cursor: pointer;
  border: 4px solid #f0f0f0;
  margin: 20px auto;
}
.wide-image {
  background: url("../img/background.jpg") center -164px no-repeat;
  height: 615px;
  width: 100%;
  position: absolute;
}
.row-image {
  border-image: url("../img/arrow.png") 3 22;
  padding: 0 32px;
  font-size: 14px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
  border-right-width: 30px;
}
.show-orgs {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  width: 170px;
  height: 40px;
  cursor: pointer;
  border: 4px solid #f3df6d;
  margin: 0 auto 25px;
}
.makes {
  position: relative;
  margin: 30px 0 0 0;
}
.makes--feed {
  margin: 0;
}
.makes ul {
  margin-left: 70px;
  padding: 30px 0;
  *zoom: 1;
}
.makes ul:before,
.makes ul:after {
  content: '';
  display: table;
}
.makes ul:after {
  clear: both;
}
.makes ul li {
  float: left;
  font-size: 13px;
  width: 125px;
  margin-bottom: 5px;
  padding: 9px 0px;
}
.makes ul li>span {
  color: #4e61eb;
  display: inline-block;
  cursor: pointer;
}
.makes ul li>span a {
  display: inline;
  text-decoration: underline;
}
.makes--live ul li {
  padding: 0;
}
.makes--live ul li span {
  padding: 9px 15px;
  text-decoration: none;
  color: #2d2d2d;
}
.makes--live ul li span:active,
.makes--live ul li span:hover {
  background-color: #fdf6d1;
}
.media-header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.media-header hr {
  margin: 17px 0 0 35px;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.parts {
  position: relative;
  margin: 25px 0 0 0;
}
.parts_categories {
  margin: 10px 0 0 70px;
  height: 160px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 440px;
}
.parts_categories li {
  float: left;
  font-size: 12px;
  margin-bottom: 5px;
}
.parts_categories li span {
  padding: 9px 15px;
  display: inline-block;
  cursor: pointer;
}
.parts_categories li span.active,
.parts_categories li span:hover {
  background-color: #fdf6d1;
}
.popup {
  padding: 30px;
  background-color: #fff;
  margin: auto;
  border-radius: 2px;
  position: relative;
}
.popup--search {
  width: 450px;
}
.popup--search .popup_content {
  width: 300px;
  margin: auto;
}
.popup_header {
  margin: 0;
  text-align: center;
}
.popup_checks {
  margin: 20px 0;
}
.popup_checks .popup_label {
  margin: 0 10px 0 0;
}
.popup_check {
  width: 15px;
  height: 15px;
  outline: none;
  margin-right: 15px;
}
.popup_check:checked:after {
  background: #fff url("../img/tip.png") no-repeat center;
}
.popup_check:after {
  content: '';
  cursor: pointer;
  outline: none;
  width: 20px;
  height: 20px;
  background-color: #fff;
  display: block;
  border: 1px solid #e4e4e4;
}
.popup_field {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}
.popup_select {
  padding: 15px 10px;
  cursor: pointer;
  font-size: 13px;
  display: block;
  outline: none;
  width: 275px;
  border: 1px solid #e4e4e4;
  background: #fff url("../img/selectbox-arrow.png") no-repeat 95% center;
}
.popup_select-selectBox-dropdown-menu {
  z-index: 99999;
  position: absolute;
  top: 0;
  border: 1px solid #e4e4e4;
  max-height: 300px;
  overflow-y: auto;
}
.popup_option a {
  background-color: #fff;
  padding: 15px 10px;
  cursor: pointer;
  font-size: 13px;
  display: block;
  outline: none;
  width: auto;
}
.popup_option a:hover {
  background-color: #eee;
}
.popup_label {
  font-size: 13px;
  margin-bottom: 5px;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
}
.popup_input {
  background-color: #fff;
  border: 1px solid #e4e4e4;
  width: 275px;
  color: #2d2d2d;
  padding: 15px 10px;
  font-size: 13px;
  display: block;
  outline: none;
}
.popup_textarea {
  background-color: #fff;
  border: 1px solid #e4e4e4;
  width: 275px;
  color: #2d2d2d;
  padding: 15px 10px;
  font-size: 13px;
  display: block;
  outline: none;
  resize: none;
}
.popup_button {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  width: 170px;
  height: 40px;
  cursor: pointer;
  border: 4px solid #f3df6d;
  margin: 30px auto 0;
}
.selectBox-disabled {
  color: #ccc;
}
.selectBox-disabled a:hover {
  background-color: #fff;
}
.search {
  background-color: #f3df6d;
  padding: 20px 40px;
  border-radius: 2px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.search h3 {
  font-size: 16px;
  margin: 10px 0;
}
.search p {
  margin: 0;
  text-align: center;
  line-height: 25px;
  font-size: 12px;
}
.search_button {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  width: 170px;
  height: 40px;
  cursor: pointer;
  border: 4px solid #fff;
  margin: 10px 0;
}
.specs {
  border-radius: 2px;
  background-color: #fff;
  padding: 25px;
  border-left: 3px solid #f3df6d;
  border-right: 1px solid #efefef;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}
.specs_header {
  margin: 0;
}
.specs_menu {
  list-style: none;
  font-size: 13px;
  margin: 20px 0 0 0;
  padding: 0;
}
.specs_menu li {
  margin-bottom: 15px;
}
.specs_menu li:last-child {
  margin-bottom: 0;
}
.specs_active {
  color: #ccc;
}
.specs_add {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  width: 170px;
  height: 40px;
  cursor: pointer;
  border: 4px solid #f3df6d;
  margin: 40px auto 0;
}
.type {
  position: relative;
  margin: 35px 0 0 0;
}
.type ul {
  text-align: center;
  width: 510px;
  margin: 15px 0 0 60px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.type ul li {
  width: 130px;
  height: 100px;
  display: inline-block;
  cursor: pointer;
}
.type ul li div {
  width: 120px;
  margin: auto;
  height: 70px;
}
.type ul li:first-child div {
  background: url("../img/icon1.jpg") center no-repeat;
}
.type ul li:nth-child(2) div {
  background: url("../img/car.jpg") center no-repeat;
}
.type ul li:nth-child(3) div {
  background: url("../img/icon2.jpg") center no-repeat;
}
.type ul li:last-child div {
  background: url("../img/icon3.jpg") center no-repeat;
}
.type ul li span {
  font-size: 12px;
  display: block;
}
.feedback {
  margin: 10px 0 0 0;
  background-color: #fff;
  padding: 20px 40px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #efefef;
  border-radius: 2px;
}
.feedback_h3 {
  font-size: 16px;
  margin: 10px 0;
}
.feedback_p {
  margin: 0;
  text-align: center;
  line-height: 25px;
  font-size: 12px;
}
.feedback_left {
  margin: 10px 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  width: 170px;
  height: 40px;
  cursor: pointer;
  border: 4px solid #f3df6d;
}
.feedlist_header {
  font-size: 16px;
  color: #4e61eb;
}
.feedlist_header a {
  text-decoration: underline;
}
.feedlist_item {
  padding: 25px 35px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.feedlist_excerpt {
  font-size: 16px;
  margin: 10px 0;
}
.footer {
  height: 400px;
  background-color: #2d2d2d;
  margin-top: 30px;
}
.footer .left ul {
  float: left;
  margin: 35px 70px 0 0;
}
.footer .left ul li:first-child {
  color: #e0e0e0;
  font-size: 14px;
  margin-top: 0;
}
.footer .left ul li {
  color: #6a6a6a;
  font-size: 13px;
  margin-top: 15px;
}
.footer .left h5 {
  color: #6a6a6a;
  font-weight: 300;
  margin-top: 150px;
}
.footer .right {
  width: 215px;
}
.footer .right h5 {
  margin: 35px 0 0 0;
  color: #e0e0e0;
  font-weight: 300;
}
.footer_reg-button {
  color: #e0e0e0;
  margin-top: 40px;
  font-size: 14px;
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #e0e0e0;
  border-radius: 2px;
  width: 200px;
  height: 55px;
}
.footer_logo {
  background: url("../img/footer_logo.jpg") center no-repeat;
  height: 100px;
  margin-top: 120px;
}
.container {
  height: 100%;
  width: auto;
  max-width: 1140px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.header {
  background-color: #fff;
}
.header .container {
  height: 100px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header_logo {
  background: url("../img/logo.jpg") center no-repeat;
  background-size: 100%;
  width: 225px;
  height: 40px;
}
.header_title {
  color: #2d2d2d;
  font-weight: 300;
  font-size: 13px;
  word-spacing: 2px;
  margin-top: 10px;
}
.header_inputs {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.header_login,
.header_pass {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 300;
  font-size: 12px;
  width: 150px;
  padding: 8px;
  border: 2px solid #f0f0f0;
  text-align: left;
  outline: none;
}
.header_login::-webkit-input-placeholder,
.header_pass::-webkit-input-placeholder {
  color: #2d2d2d;
}
.header_login::-moz-placeholder,
.header_pass::-moz-placeholder {
  color: #2d2d2d;
}
.header_login:-moz-placeholder,
.header_pass:-moz-placeholder {
  color: #2d2d2d;
}
.header_login:-ms-input-placeholder,
.header_pass:-ms-input-placeholder {
  color: #2d2d2d;
}
.header_login {
  margin-right: 10px;
}
.header_pass {
  padding-right: 30px;
  width: 130px;
}
.header_submit-arrow {
  background: url("../img/sign-in-arrow.jpg") no-repeat;
  width: 26px;
  height: 26px;
  position: absolute;
  right: 4px;
  top: 4px;
  cursor: pointer;
}
.header_register {
  text-align: right;
  font-size: 13px;
  cursor: pointer;
  color: #2d2d2d;
  margin-top: 15px;
}
.user-info {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between;
}
.user-info span {
  font-weight: 700;
  font-size: 12px;
}
.user-info_names {
  margin: 0 20px;
}
.user-info_names h5 {
  margin: 0;
}
.user-info_names h5:last-child {
  color: #aaa;
  font-weight: 300;
  font-size: 12px;
  margin-top: 5px;
}
.user-info_ava {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.user-info_ava img {
  margin-top: -10px;
}
.menu {
  height: 60px;
  background-color: #2d2d2d;
}
.menu .container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.menu_btn {
  height: 100%;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0.4px;
  color: #fff;
  margin: 0 25px;
}
.menu_btn:first-child {
  margin-left: 0;
}
.menu_btn:hover,
.menu_btn.active {
  color: #999;
}
.menu_btn a {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.catalog {
  position: relative;
  overflow: hidden;
}
.catalog .container {
  position: relative;
  margin-top: 25px;
  *zoom: 1;
}
.catalog .container:before,
.catalog .container:after {
  content: '';
  display: table;
}
.catalog .container:after {
  clear: both;
}
.catalog_left {
  margin-right: 10px;
  float: left;
  width: 260px;
}
.catalog_middle {
  margin-right: 10px;
  float: left;
  width: 598px;
  background-color: #fff;
  border: 1px solid #efefef;
  border-radius: 2px;
}
.catalog_right {
  float: right;
  width: 260px;
  border-radius: 2px;
}
.feed {
  position: relative;
  overflow: hidden;
}
.feed .container {
  position: relative;
  margin-top: 25px;
  *zoom: 1;
}
.feed .container:before,
.feed .container:after {
  content: '';
  display: table;
}
.feed .container:after {
  clear: both;
}
.feed_left {
  margin-right: 10px;
  background-color: #fff;
  float: left;
  width: 868px;
  border: 1px solid #efefef;
  border-radius: 2px;
}
.feed_right {
  float: right;
  width: 260px;
}
.feed-sort {
  margin: 0 0 10px 35px;
  width: 235px;
  font-size: 14px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.feed-sort--model {
  margin: 30px 0 30px 35px;
}
.feed-sort_item {
  color: #ccc;
}
.feed-sort--active {
  color: #4e61eb;
  text-decoration: underline;
  cursor: pointer;
}
.home {
  overflow: hidden;
}
.home .container {
  position: relative;
  margin-top: 25px;
}
.home_left {
  float: left;
  margin-right: 10px;
  width: 260px;
}
.home_middle {
  margin-right: 10px;
  float: left;
  width: 598px;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #efefef;
  border-radius: 2px;
  position: relative;
}
.home_right {
  float: right;
  width: 260px;
}
.mention {
  padding: 25px 35px;
}
.mention_head {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}
.mention_header {
  width: 520px;
  margin: 0;
  font-weight: 400;
}
.mention_date-user {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.mention_date {
  color: #ccc;
  font-size: 14px;
  margin-right: 10px;
}
.mention_user {
  color: #4e61eb;
  font-size: 14px;
}
.mention_votes {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.mention_likes,
.mention_dislikes {
  font-size: 18px;
  font-weight: 400;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.mention_likes--active,
.mention_dislikes--active {
  padding: 8px 15px;
  cursor: pointer;
}
.mention_likes span,
.mention_dislikes span {
  margin-right: 7px;
}
.mention_likes {
  color: #cbe887;
  margin-right: 25px;
}
.mention_likes--active {
  background-color: #f6fae9;
  margin-right: 5px;
}
.mention_dislikes {
  color: #dbdbdb;
}
.mention_dislikes--active {
  background-color: #f4f4f4;
}
.mention_content {
  margin-top: 15px;
}
.mention_rate {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.mention_rate>span {
  font-size: 14px;
  margin-right: 20px;
}
.mention_pluses-minuses {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mention_pluses,
.mention_minuses {
  padding: 15px 15px;
  border-width: 2px;
  border-style: solid;
  width: 360px;
}
.mention_pluses h4,
.mention_minuses h4 {
  margin: 0 0 10px 0;
  font-weight: 400;
}
.mention_pluses {
  border-color: #cbe887;
}
.mention_pluses h4 {
  color: #cbe887;
}
.mention_minuses {
  border-color: #dbdbdb;
}
.mention_minuses h4 {
  color: #dbdbdb;
}
.mention_minus,
.mention_plus {
  font-size: 13px;
}
.mention_minus-sign {
  color: #dbdbdb;
}
.mention_plus-sign {
  color: #cbe887;
}
.profile-info_company,
.profile-info_profile,
.requests_received,
.requests_sent {
  color: #f3df6d;
  cursor: pointer;
  font-size: 14px;
  display: inline-block;
}
.profile-info_company:first-child,
.profile-info_profile:first-child,
.requests_received:first-child,
.requests_sent:first-child {
  margin-right: 40px;
}
.profile-info_toogler--active,
.requests_toogler--active {
  font-size: 20px;
  font-weight: 400;
  word-spacing: 2px;
  color: #000;
  cursor: auto;
}
.profile {
  position: relative;
  overflow: hidden;
}
.profile .container {
  position: relative;
  margin-top: 25px;
  *zoom: 1;
}
.profile .container:before,
.profile .container:after {
  content: '';
  display: table;
}
.profile .container:after {
  clear: both;
}
.profile_left {
  margin-right: 10px;
  float: left;
  width: 868px;
  background-color: #fff;
  border: 1px solid #efefef;
  border-radius: 2px;
}
.profile_right {
  float: right;
  width: 260px;
}
.profile_settings {
  float: right;
  cursor: pointer;
  font-size: 14px;
}
.profile_settings-icon {
  background: url("../img/cogwheel.png") no-repeat center;
  width: 13px;
  height: 13px;
  display: inline-block;
  position: relative;
  top: 1px;
}
.profile-info {
  padding: 0 35px;
  margin-top: 25px;
}
.profile-info_header {
  *zoom: 1;
}
.profile-info_header:before,
.profile-info_header:after {
  content: '';
  display: table;
}
.profile-info_header:after {
  clear: both;
}
.profile-info_toogler {
  float: left;
}
.profile-info_body {
  margin-top: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.profile-info_left {
  width: 115px;
  margin-right: 30px;
}
.profile-info_right {
  width: 673px;
}
.profile-info_logo {
  border: 1px solid #efefef;
  border-radius: 2px;
  width: 115px;
  height: 115px;
}
.profile-info_name {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
}
.profile-info_pen {
  width: 8px;
  height: 9px;
  display: inline-block;
  cursor: pointer;
  margin-left: 20px;
  background: url("../img/pen.png") no-repeat center;
}
.profile-info_address {
  font-size: 12px;
  margin: 7px 0;
}
.profile-info_phone {
  font-size: 14px;
  letter-spacing: 0.6px;
}
.profile-info_about {
  margin: 20px 0 0 0;
  font-size: 14px;
  width: 550px;
  line-height: 20px;
}
.profile-info_tags {
  margin: 20px 0 0 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.profile-info_tags li {
  margin-right: 5px;
  font-size: 12px;
  background-color: #f6f6f6;
  padding: 8px;
  border-radius: 2px;
}
.requests {
  margin-top: 25px;
  padding: 0 35px;
}
.requests_logo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #f0f0f0;
}
.requests_logo img {
  height: 60px;
}
.requests_name {
  font-size: 16px;
  font-weight: 400;
  margin-left: 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.requests_body {
  padding: 15px;
  border-radius: 2px;
  font-size: 14px;
  letter-spacing: 0.4px;
}
.sent-requests_body,
.sent-requests_answer-body {
  padding: 15px;
  border-radius: 2px;
  font-size: 14px;
  letter-spacing: 0.4px;
  position: relative;
}
.sent-requests_body--yellow,
.sent-requests_answer-body--yellow {
  background-color: #fdf6d1;
}
.sent-requests_body--yellow:before,
.sent-requests_answer-body--yellow:before {
  border-right: 9px solid #fdf6d1;
}
.sent-requests_body--yellow:before,
.sent-requests_answer-body--yellow:before,
.sent-requests_body--grey:before,
.sent-requests_answer-body--grey:before {
  content: '';
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  position: absolute;
  left: -9px;
  top: 45%;
}
.sent-requests_body--grey,
.sent-requests_answer-body--grey {
  background-color: #f0f0f0;
}
.sent-requests_body--grey:before,
.sent-requests_answer-body--grey:before {
  border-right: 9px solid #f0f0f0;
}
.sent-requests_logo-name {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.sent-requests_time,
.sent-requests_answ-time {
  color: #ccc;
  font-size: 12px;
  width: 80px;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}
.sent-requests {
  margin-top: 35px;
}
.sent-requests_item {
  margin-bottom: 15px;
}
.sent-requests_request {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.sent-requests_logo-name {
  width: 300px;
}
.sent-requests_body {
  width: 350px;
}
.sent-requests_time {
  text-align: center;
}
.sent-requests_answer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}
.sent-requests_answer-info {
  width: 250px;
}
.sent-requests_answer-contacts {
  font-size: 12px;
  line-height: 17px;
  color: #ccc;
  margin-top: 7px;
}
.sent-requests_answer-body {
  width: 463px;
}
