.found h3,
.catalog_type,
.feed_header,
.home_middle>h3,
.page_type {
  margin: 25px 0 0 35px;
}
hr {
  border-top: 1px solid #bbb;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
  margin: 0;
}
body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  background-color: #fafafa;
}
a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: inline-block;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
h3 {
  font-size: 18px;
  word-spacing: 2px;
}
.clear-fix {
  *zoom: 1;
}
.clear-fix:before,
.clear-fix:after {
  content: '';
  display: table;
}
.clear-fix:after {
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
.alert-message {
  font-size: 14px;
  color: #777;
  line-height: 20px;
}
.breadcrumb {
  margin: 15px 0 0 35px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
}
.breadcrumb_separator {
  margin: 0 5px;
}
.breadcrumb--parent {
  color: #f3df6d;
}
.company-popup {
  padding: 15px 30px 30px 30px;
  background-color: #fff;
  margin: auto;
  border-radius: 2px;
  position: relative;
  width: 650px;
}
.company-popup .company-preview:hover {
  background-color: transparent;
  cursor: auto;
}
.company-popup_spec {
  margin: 0;
}
.company-popup_spec,
.company-popup_desc {
  font-weight: 400;
  font-size: 16px;
}
.company-popup_tags {
  margin-top: 5px;
  *zoom: 1;
}
.company-popup_tags:before,
.company-popup_tags:after {
  content: '';
  display: table;
}
.company-popup_tags:after {
  clear: both;
}
.company-popup_tag {
  font-size: 12px;
  padding: 8px;
  background-color: #f0f0f0;
  margin-right: 5px;
  margin-bottom: 5px;
  color: #2d2d2d;
  border-radius: 2px;
  float: left;
}
.company-popup_desc {
  margin: 10px 0 5px 0;
}
.company-popup_description {
  margin: 0;
  font-size: 14px;
}
.company-popup_close {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  width: 170px;
  height: 40px;
  cursor: pointer;
  border: 4px solid #f3df6d;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: 0.2s ease;
  margin: 30px auto 0;
}
.company-preview {
  height: 102px;
  padding: 15px;
  position: relative;
  cursor: pointer;
}
.company-preview:hover {
  background-color: #faf7e9;
}
.company-preview_more {
  color: #4e61eb;
  font-size: 12px;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  top: 5px;
  right: 15px;
}
.company-preview-list {
  margin: 20px 0 0 0;
  padding: 0 35px;
}
.company-preview_logo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
  height: 100px;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  float: left;
}
.company-preview_info {
  height: 100px;
  padding-left: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.company-preview_info h3,
.company-preview_info h5 {
  margin: 0;
}
.company-preview_info h3 {
  font-weight: 400;
  font-size: 17px;
}
.company-preview_info h5:first-of-type {
  margin: 10px 0;
  font-size: 12px;
  font-weight: 300;
}
.company-preview_info h5:last-of-type {
  color: #ccc;
  font-weight: 300;
  font-size: 12px;
}
.create-company_make,
.create-company_model {
  position: relative;
}
.create-company_make:nth-child(2),
.create-company_model:nth-child(2) {
  margin-top: 0px;
}
.create-company_makes-models_item:not(:nth-child(2)) .create-company_make {
  margin-top: 29px;
}
.create-company-selectBox-dropdown-menu .selectBox-disabled {
  display: none;
}
ul.create-company-spec-selectBox-dropdown-menu {
  max-height: 315px;
}
.create-company_makes-models_item:nth-child(2) .create-company_make .popup_redx {
  display: none;
}
.create-company_lower,
.create-company_higher {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.create-company_lower {
  margin-top: 50px;
}
.create-company_makes-models_item {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.create-company_makes-models_item:not(:nth-child(2)) {
  margin-top: 20px;
}
.create-company_makes-models_item:nth-child(2) .create-company_make {
  margin-top: 0;
}
.create-company_makes-models_item:nth-child(2) .create-company_models .popup_header-field {
  position: absolute;
  top: -29px;
}
.create-company_models {
  width: 297px;
}
.create-company_makes-models {
  margin-top: 20px;
}
.found {
  margin: 35px 0 0 0;
  padding-bottom: 20px;
}
.found_more {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  width: 170px;
  height: 40px;
  cursor: pointer;
  border: 4px solid #f0f0f0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: 0.2s ease;
  margin: 20px auto;
}
.found_more:hover {
  border-color: #f3df6d;
}
.wide-image {
  background: url("../img/background.jpg") center -164px no-repeat;
  height: 615px;
  width: 100%;
  position: absolute;
}
.row-image {
  border-image: url("../img/arrow.png") 3 22;
  padding: 0 32px;
  font-size: 14px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
  border-right-width: 30px;
}
.show-orgs {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  width: 170px;
  height: 40px;
  cursor: pointer;
  border: 4px solid #f3df6d;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: 0.2s ease;
  margin: 0 auto 25px;
  display: none;
}
.makes {
  position: relative;
  margin: 30px 0 0 0;
}
.makes--feed,
.makes--catalog {
  margin: 0;
}
.makes ul {
  margin-left: 70px;
  padding: 20px 0;
  -webkit-columns: 4;
     -moz-columns: 4;
          columns: 4;
  *zoom: 1;
}
.makes ul:before,
.makes ul:after {
  content: '';
  display: table;
}
.makes ul:after {
  clear: both;
}
.makes ul li {
  display: inline-block;
  font-size: 13px;
  width: 125px;
  margin-bottom: 5px;
  padding: 9px 0px;
}
.makes ul li>span {
  color: #4e61eb;
  display: inline-block;
  cursor: pointer;
}
.makes ul li>span a {
  display: inline;
  text-decoration: underline;
}
.makes--live {
  display: none;
}
.makes--live ul li {
  padding: 0;
}
.makes--live ul li span {
  padding: 9px 15px;
  text-decoration: none;
  color: #2d2d2d;
}
.makes--live ul li span:hover {
  background-color: #fdf6d1;
}
.makes--active span {
  background-color: #fdf6d1;
}
.makes_empty {
  position: absolute;
  top: 60px;
  font-size: 14px;
  left: 84px;
  display: none;
}
.media-header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.media-header hr {
  margin: 17px 0 0 35px;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.parts {
  position: relative;
  margin: 25px 0 0 0;
}
.parts_categories {
  margin: 10px 0 0 70px;
  height: 160px;
  width: 440px;
}
.parts_categories li {
  float: left;
  font-size: 12px;
  width: 200px;
  margin-bottom: 5px;
}
.parts_categories li span {
  padding: 9px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.parts_categories li span:hover {
  background-color: #fdf6d1;
}
.parts--active span {
  background-color: #fdf6d1;
}
#create-company-logo {
  display: none;
}
.popup {
  padding: 30px;
  background-color: #fff;
  margin: auto;
  border-radius: 2px;
  position: relative;
}
.popup_redx {
  width: 10px;
  position: absolute;
  top: 19px;
  right: 10px;
  height: 10px;
  cursor: pointer;
  margin: auto;
  background: url("../img/redx.png") no-repeat center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 0.7;
}
.popup_redx:hover {
  opacity: 1;
}
.popup_redx--left {
  left: -20px;
  margin: 0;
}
.popup_redx--simple {
  position: static;
  display: block;
}
.popup_plus-sign {
  padding: 5px;
  width: 25px;
  position: relative;
  top: -5px;
  left: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #f3df6d;
  border-radius: 2px;
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.popup_plus-sign:hover {
  background-color: #ffe136;
}
.popup_plus-sign--flex {
  position: static;
  margin-left: 15px;
}
.popup_content {
  margin: auto;
}
.popup_comp-logo {
  height: 160px;
  margin-top: 10px;
  text-align: center;
}
.popup_comp-logo img {
  max-height: 160px;
  max-width: 297px;
}
.popup_pick-file {
  margin-left: 20px;
  font-size: 13px;
  border-radius: 2px;
  background-color: #f3df6d;
  padding: 10px;
  cursor: pointer;
  color: #2d2d2d;
}
.popup_pick-file:hover {
  background-color: #ffe136;
}
.popup_header-field {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.popup_error {
  font-size: 14px;
  color: #222;
  width: 450px;
}
.popup--search,
.popup--sign-up,
.popup--alert {
  width: 450px;
}
.popup--search .popup_content,
.popup--sign-up .popup_content,
.popup--edit-profile,
.popup--settings {
  width: 300px;
}
.popup--feedback,
.popup--avatar {
  width: 780px;
}
.popup--avatar .popup_content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.popup--create-company {
  width: 660px;
}
.popup--feedback .popup_header {
  text-align: left;
}
.popup_header {
  margin: 0;
  text-align: center;
}
.popup_header--small {
  font-weight: 400;
  font-size: 15px;
}
.popup_header--left {
  text-align: left;
}
.popup_checks {
  margin: 20px 0;
}
.popup_checks .popup_label {
  margin: 0 10px 0 0;
  padding: 10px;
}
.popup_check {
  width: 15px;
  height: 15px;
  outline: none;
  margin-right: 15px;
}
.popup_check:checked:after {
  background: #fff url("../img/tip.png") no-repeat center;
}
.popup_check:after {
  content: '';
  cursor: pointer;
  outline: none;
  width: 20px;
  height: 20px;
  background-color: #fff;
  display: block;
  border: 1px solid #e4e4e4;
}
.popup_field {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}
.popup_field--makes {
  margin-top: 0;
}
.popup_field--feedback {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.popup_select {
  padding: 15px 10px;
  cursor: pointer;
  font-size: 13px;
  display: block;
  outline: none;
  width: 275px;
  border: 1px solid #e4e4e4;
  background: #fff url("../img/selectbox-arrow.png") no-repeat 95% center;
}
.popup_select-selectBox-dropdown-menu {
  z-index: 99999;
  position: absolute;
  top: 0;
  border: 1px solid #e4e4e4;
  max-height: 300px;
  overflow-y: auto;
}
.popup_option a {
  background-color: #fff;
  padding: 15px 10px;
  cursor: pointer;
  font-size: 13px;
  display: block;
  outline: none;
  width: auto;
}
.popup_option a:hover {
  background-color: #eee;
}
.popup_label {
  font-size: 13px;
  margin-bottom: 5px;
}
.popup_input {
  background-color: #fff;
  border: 1px solid #e4e4e4;
  width: 275px;
  color: #2d2d2d;
  padding: 15px 10px;
  font-size: 13px;
  display: block;
  outline: none;
}
.popup_input--header {
  display: block;
  width: auto;
}
.popup_textarea {
  background-color: #fff;
  border: 1px solid #e4e4e4;
  width: 275px;
  color: #2d2d2d;
  padding: 15px 10px;
  font-size: 13px;
  display: block;
  outline: none;
  resize: none;
}
.popup_button {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  width: 170px;
  height: 40px;
  cursor: pointer;
  border: 4px solid #f3df6d;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: 0.2s ease;
  margin: 30px auto 0;
  position: relative;
  transition: all 0.2s linear;
}
.popup_button::before {
  transition: all 0.4s ease-in;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  background: url("../img/success.png") no-repeat center;
  background-size: contain;
}
.popup_button:hover {
  background-color: rgba(243,223,109,0.9);
}
.selectBox-disabled {
  color: #ccc;
}
.selectBox-disabled a:hover {
  background-color: #fff;
}
.search {
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 2px;
  margin: 0 0 10px 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid #f3df6d;
}
.search h3 {
  font-size: 16px;
  margin: 10px 0;
}
.search p {
  margin: 0;
  text-align: center;
  line-height: 25px;
  font-size: 12px;
}
.search_button {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  width: 170px;
  height: 40px;
  cursor: pointer;
  border: 4px solid rgba(126,126,126,0.68);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: 0.2s ease;
  margin: 10px 0;
  border-radius: 2px;
  border: none;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: rgba(70,64,64,0.77);
  text-shadow: 0px 1px 4px #fff5cb;
  box-shadow: 0 8px 6px -6px rgba(126,126,126,0.58);
  background-image: -webkit-linear-gradient(top, #ffe58a 0%, #f3df6d 50%, #f3df6d 51%, #f3c66d 100%);
  background: linear-gradient(top, #ffe58a 0%, #f3df6d 50%, #f3df6d 51%, #f3c66d 100%);
}
.search_button:hover {
  color: #000;
  opacity: 0.85;
  box-shadow: 0 8px 4px -6px rgba(42,42,42,0.58);
}
.specs {
  border-radius: 3px 0 0 3px;
  background-color: #fff;
  padding: 25px;
  border-left: 3px solid #bbb;
  border-right: 1px solid #bbb;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  transition: 0.2s ease-in;
}
.specs:hover {
  border-color: #f4e177;
}
.specs_header {
  margin: 0;
  color: #2d2d2d;
}
.specs_menu {
  list-style: none;
  font-size: 13px;
  margin: 20px 0 0 20px;
  padding: 0;
  list-style-type: disc;
}
.specs_menu li {
  margin-bottom: 15px;
  color: #727272;
}
.specs_menu li:last-child {
  margin-bottom: 0;
}
.specs_menu li a {
  color: #222;
}
.specs_menu li a:hover {
  color: #000;
}
.specs_active {
  color: #ccc;
}
.specs_add {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  width: 170px;
  height: 40px;
  cursor: pointer;
  border: 4px solid #f3df6d;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: 0.2s ease;
  margin: 40px auto 0;
}
.specs_add:hover {
  background-color: rgba(243,223,109,0.9);
}
.type {
  position: relative;
  margin: 35px 0 0 0;
}
.type ul {
  text-align: center;
  width: 510px;
  margin: 15px 0 0 60px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.type_item {
  width: 130px;
  height: 100px;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.type_item--active span {
  color: #f3df6d;
}
.type_item--active path {
  fill: #f3df6d;
}
.type_item div {
  width: 120px;
  margin: auto;
  height: 70px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.type_item span {
  font-size: 12px;
  display: block;
}
.comments {
  padding: 25px 35px;
}
.comments_header {
  margin: 0;
  font-weight: 400;
}
.comments_send-button {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  width: 170px;
  height: 40px;
  cursor: pointer;
  border: 4px solid #f3df6d;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: 0.2s ease;
  margin-top: 15px;
  display: none;
}
.comments_send-button:hover {
  background-color: rgba(243,223,109,0.9);
}
.comments_textarea {
  background-color: #fff;
  border: 1px solid #e4e4e4;
  width: 770px;
  min-height: 70px;
  color: #2d2d2d;
  padding: 15px 10px;
  font-size: 13px;
  display: block;
  outline: none;
  resize: none;
  margin-top: 20px;
}
.comment {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}
.comment_right {
  margin-left: 10px;
}
.comment_ava {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
}
.comment_date {
  color: #ccc;
  font-size: 12px;
  margin-left: 20px;
}
.comment_header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 10px;
}
.comment_name {
  font-size: 14px;
  color: #4e61eb;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: underline;
  cursor: pointer;
}
.comment_content {
  width: 740px;
  margin-top: 10px;
  line-height: 25px;
  letter-spacing: 0.5px;
  font-size: 14px;
}
.feedback {
  background-color: #fff;
  padding: 20px 40px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #bbb;
  border-radius: 2px;
  transition: 0.2s ease-in;
}
.feedback:hover {
  border: 1px solid #f4e177;
}
.feedback_h3 {
  font-size: 16px;
  margin: 10px 0;
}
.feedback_p {
  margin: 0;
  text-align: center;
  line-height: 25px;
  font-size: 12px;
}
.feedback_button {
  margin: 10px 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  width: 170px;
  height: 40px;
  cursor: pointer;
  border: 4px solid #f3df6d;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: 0.2s ease;
}
.feedback_button:hover {
  background-color: rgba(243,223,109,0.9);
}
.feedback_photos {
  *zoom: 1;
}
.feedback_photos:before,
.feedback_photos:after {
  content: '';
  display: table;
}
.feedback_photos:after {
  clear: both;
}
.feedback_toolbar {
  color: #444;
  border-bottom: 1px solid #e4e4e4;
}
.feedback_editor {
  color: #222;
}
.feedback_editor-wrapper {
  border: 1px solid #e4e4e4;
}
.feedback_add-photos {
  margin-top: 20px;
}
.feedback_add-photo {
  height: 70px;
  width: 100px;
  border: 1px solid #e4e4e4;
  cursor: pointer;
  background: url("../img/plus.png") no-repeat center;
  float: left;
}
.feedback_input-file {
  display: none;
}
.feedback_photo-img {
  border: 1px solid #e4e4e4;
  height: 70px;
  width: 100px;
  text-align: center;
}
.feedback_photo-img img {
  max-height: 70px;
  max-width: 100px;
}
.feedback_photo {
  height: 85px;
  width: 100px;
  float: left;
  margin-right: 13px;
  margin-bottom: 5px;
}
.feedback_photo:nth-child(7n+7) {
  margin-right: 0;
}
.feedback_conclusions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.feedback_minuses {
  width: 307px;
}
.feedback_plus,
.feedback_minus {
  position: relative;
  margin-top: 10px;
}
.feedback_plus input,
.feedback_minus input {
  padding-right: 20px;
}
.feedback_plus .feedback_redx,
.feedback_minus .feedback_redx {
  position: absolute;
  right: 10px;
  top: 40%;
}
.feedlist_header {
  font-size: 16px;
  color: #4e61eb;
}
.feedlist_header a {
  text-decoration: underline;
}
.feedlist_item {
  padding: 25px 35px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.feedlist_excerpt {
  font-size: 16px;
  margin: 10px 0;
  word-wrap: break-word;
}
.feedlist_img {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65px;
  height: 65px;
}
.feedlist_img img {
  max-height: 65px;
  max-width: 65px;
}
.footer {
  position: relative;
  height: 400px;
  background-color: #2d2d2d;
  margin-top: 30px;
  padding: 0 10px;
}
.footer_row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer_row:last-child {
  margin-top: 150px;
}
.footer_list {
  float: left;
  margin: 35px 70px 0 0;
}
.footer_list li:first-child {
  color: #e0e0e0;
  font-size: 14px;
  margin-top: 0;
}
.footer_list li {
  color: #6a6a6a;
  font-size: 13px;
  margin-top: 15px;
}
.footer_sign-up-block {
  width: 215px;
}
.footer_sign-up-block h5 {
  margin: 35px 0 0 0;
  color: #e0e0e0;
  font-weight: 300;
}
.footer_rights {
  color: #6a6a6a;
  font-weight: 300;
}
.footer_sign-up-button {
  color: #e0e0e0;
  margin-top: 40px;
  font-size: 14px;
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #e0e0e0;
  border-radius: 2px;
  width: 200px;
  height: 55px;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  box-shadow: inset 2px 2px 3px #000;
  text-shadow: 1px 3px 4px #000;
  background-color: rgba(0,0,0,0.3);
  transition: 0.2s ease;
}
.footer_sign-up-button:hover {
  box-shadow: inset 2px 2px 3px rgba(0,0,0,0);
  text-shadow: 1px 3px 4px rgba(0,0,0,0);
  background-color: rgba(255,255,255,0.1);
}
.footer_logo {
  background: url("../img/footer_logo.jpg") center no-repeat;
  height: 58px;
  width: 200px;
}
.container {
  height: 100%;
  width: auto;
  max-width: 1140px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.header {
  background-color: #fefefe;
}
.header .container {
  height: 100px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
  position: relative;
}
.header_box {
  width: 100%;
}
.header_logo {
  background: url("../img/komtrans-logo.png") center no-repeat;
  background-size: 100%;
  width: 225px;
  height: 40px;
}
.header_title {
  color: #2d2d2d;
  font-weight: 400;
  font-size: 14px;
  word-spacing: 2px;
  margin-top: 10px;
  font-style: italic;
  text-align: center;
}
.header_inputs {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 20px;
  right: 10px;
}
.header_login,
.header_pass {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 300;
  font-size: 12px;
  width: 150px;
  padding: 8px;
  border: 2px solid #f0f0f0;
  text-align: left;
  outline: none;
}
.header_login::-webkit-input-placeholder,
.header_pass::-webkit-input-placeholder {
  color: #2d2d2d;
}
.header_login::-moz-placeholder,
.header_pass::-moz-placeholder {
  color: #2d2d2d;
}
.header_login:-moz-placeholder,
.header_pass:-moz-placeholder {
  color: #2d2d2d;
}
.header_login:-ms-input-placeholder,
.header_pass:-ms-input-placeholder {
  color: #2d2d2d;
}
.header_login {
  margin-right: 10px;
}
.header_pass {
  padding-right: 30px;
  width: 130px;
}
.header_submit-arrow {
  background: url("../img/sign-in-arrow.jpg") no-repeat;
  width: 26px;
  height: 26px;
  position: absolute;
  right: 4px;
  top: 4px;
  cursor: pointer;
}
.header_user-box {
  position: absolute;
  top: 0;
  right: 0;
}
.header_user-info {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between;
  cursor: pointer;
  height: 80px;
  position: relative;
  right: 10px;
}
.header_user-info_names {
  margin: 0 20px;
  transition: opacity 0.3s ease-in-out;
}
.header_user-info_names h5 {
  margin: 0;
  font-weight: 400;
}
.header_user-info_company-name {
  color: #aaa;
  font-weight: 300;
  font-size: 12px;
  margin-top: 5px;
}
.header_user-info_ava {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.3s ease-in-out;
}
.header_user-info_arrow {
  background: url("../img/profile-arrow.png") center no-repeat;
  width: 18px;
  height: 18px;
  position: relative;
  left: 0;
  transition: left 0.3s ease-in-out;
}
.header_user-info:hover .header_user-info_arrow {
  left: 10px;
}
.header_user-info:hover .header_user-info_ava,
.header_user-info:hover .header_user-info_names {
  opacity: 0.6;
}
.header_user-info_notification {
  background-color: #f3df6d;
  padding: 2px 5px;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  border-radius: 2px;
  position: absolute;
  top: 10px;
  right: 0;
}
.menu {
  height: 60px;
  background-color: #2d2d2d;
  padding: 0 10px;
}
.menu .container,
.menu_item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu_btn {
  height: 100%;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0.4px;
  color: #fff;
  margin: 0 25px;
}
.menu_btn:first-child {
  margin-left: 0;
}
.menu_btn:hover,
.menu_btn.active {
  color: #999;
}
.menu_btn a {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.menu_sign-up {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #fff;
  font-size: 14px;
  cursor: pointer;
  color: #fff;
  width: 100px;
  height: 30px;
  box-shadow: inset 2px 2px 3px #000;
  text-shadow: 1px 3px 4px #000;
  background-color: rgba(0,0,0,0.3);
  transition: 0.2s ease;
}
.menu_sign-up:hover {
  box-shadow: inset 2px 2px 3px rgba(0,0,0,0);
  text-shadow: 1px 3px 4px rgba(0,0,0,0);
  background-color: rgba(255,255,255,0.1);
}
.catalog {
  position: relative;
  overflow: hidden;
}
.catalog .container {
  position: relative;
  margin-top: 25px;
  *zoom: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.catalog .container:before,
.catalog .container:after {
  content: '';
  display: table;
}
.catalog .container:after {
  clear: both;
}
.catalog_left {
  margin-right: 10px;
  width: 260px;
}
.catalog_middle {
  margin-right: 10px;
  width: 598px;
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 2px;
}
.catalog_right {
  width: 260px;
  border-radius: 2px;
}
.feed {
  position: relative;
  overflow: hidden;
}
.feed .container {
  position: relative;
  margin-top: 25px;
  *zoom: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.feed .container:before,
.feed .container:after {
  content: '';
  display: table;
}
.feed .container:after {
  clear: both;
}
.feed_left {
  margin-right: 10px;
  background-color: #fff;
  width: 868px;
  border: 1px solid #bbb;
  border-radius: 2px;
}
.feed_right {
  width: 260px;
}
.feed-sort {
  margin: 0 0 10px 35px;
  width: 235px;
  font-size: 14px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.feed-sort--model {
  margin: 30px 0 30px 35px;
}
.feed-sort_item {
  color: #ccc;
}
.feed-sort--active {
  color: #4e61eb;
  text-decoration: underline;
  cursor: pointer;
}
.home {
  overflow: hidden;
}
.home .container {
  position: relative;
  margin-top: 25px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.home_left {
  margin-right: 10px;
  width: 260px;
}
.home_middle {
  margin-right: 10px;
  width: 598px;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #bbb;
  border-radius: 2px;
  position: relative;
}
.home_right {
  width: 260px;
}
.mention {
  padding: 25px 35px;
}
.mention_head {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}
.mention_header {
  width: 520px;
  margin: 0;
  font-weight: 400;
}
.mention_date-user {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.mention_info {
  width: 550px;
}
.mention_votes {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mention_votes .mention_likes,
.mention_votes .mention_dislikes {
  cursor: auto;
}
.mention_date {
  color: #ccc;
  font-size: 12px;
  margin-right: 10px;
}
.mention_user {
  color: #4e61eb;
  font-size: 14px;
}
.mention_photos {
  margin-top: 20px;
}
.mention_likes,
.mention_dislikes {
  font-size: 18px;
  font-weight: 400;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  padding: 8px 15px;
}
.mention_likes span,
.mention_dislikes span {
  margin-right: 7px;
}
.mention_likes {
  color: #cbe887;
  margin-right: 25px;
}
.mention_likes--active {
  background-color: #f6fae9;
}
.mention_dislikes {
  color: #dbdbdb;
}
.mention_dislikes--active {
  background-color: #f4f4f4;
}
.mention_content {
  margin-top: 15px;
  font-size: 14px;
}
.mention_content ul,
.mention_content ol {
  list-style-position: inside;
}
.mention_content ul {
  list-style-type: disc;
}
.mention_content ol {
  list-style-type: decimal;
}
.mention_rate {
  margin-top: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.mention_rate>span {
  font-size: 14px;
  margin-right: 20px;
}
.mention_pluses-minuses {
  margin-top: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mention_pluses,
.mention_minuses {
  padding: 15px 15px;
  border-width: 2px;
  border-style: solid;
  width: 360px;
}
.mention_pluses h4,
.mention_minuses h4 {
  margin: 0 0 10px 0;
  font-weight: 400;
}
.mention_pluses {
  border-color: #cbe887;
}
.mention_pluses h4 {
  color: #cbe887;
}
.mention_minuses {
  border-color: #dbdbdb;
}
.mention_minuses h4 {
  color: #dbdbdb;
}
.mention_minus,
.mention_plus {
  font-size: 13px;
}
.mention_minus-sign {
  color: #dbdbdb;
}
.mention_plus-sign {
  color: #cbe887;
}
.page {
  position: relative;
  overflow: hidden;
}
.page .container {
  position: relative;
  margin-top: 25px;
  *zoom: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.page .container:before,
.page .container:after {
  content: '';
  display: table;
}
.page .container:after {
  clear: both;
}
.page_left {
  margin-right: 10px;
  background-color: #fff;
  width: 868px;
  border: 1px solid #bbb;
  border-radius: 2px;
  padding: 15px 25px;
}
.page_right {
  width: 260px;
  border-radius: 2px;
}
.profile-info_company,
.profile-info_profile,
.requests_received,
.requests_sent {
  color: #f3df6d;
  cursor: pointer;
  font-size: 14px;
  display: inline-block;
}
.profile-info_company:first-child,
.profile-info_profile:first-child,
.requests_received:first-child,
.requests_sent:first-child {
  margin-right: 40px;
}
.profile-info_toogler--active,
.requests_toogler--active {
  font-size: 20px;
  font-weight: 400;
  word-spacing: 2px;
  color: #000;
  cursor: auto;
}
.profile {
  position: relative;
  overflow: hidden;
  min-height: 400px;
}
.profile_row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}
.profile_label {
  font-size: 14px;
  font-weight: 400;
  width: 150px;
}
.profile .container {
  position: relative;
  margin-top: 25px;
  *zoom: 1;
}
.profile .container:before,
.profile .container:after {
  content: '';
  display: table;
}
.profile .container:after {
  clear: both;
}
.profile_left {
  margin-right: 10px;
  padding-bottom: 25px;
  float: left;
  width: 868px;
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 2px;
}
.profile_right {
  float: right;
  width: 260px;
}
.profile_settings {
  float: right;
  cursor: pointer;
  font-size: 14px;
}
.profile_settings-icon {
  background: url("../img/cogwheel.png") no-repeat center;
  width: 13px;
  height: 13px;
  display: inline-block;
  position: relative;
  top: 1px;
}
.profile_verify {
  font-size: 14px;
  margin: 25px 0 0 25px;
}
.profile_verify a {
  color: #4e61eb;
  display: inline;
}
.profile-info {
  padding: 0 35px;
  margin: 25px 0;
  min-height: 170px;
}
.profile-info_header {
  *zoom: 1;
}
.profile-info_header:before,
.profile-info_header:after {
  content: '';
  display: table;
}
.profile-info_header:after {
  clear: both;
}
.profile-info_toogler {
  float: left;
}
.profile-info_company,
.profile-info_profile {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.profile-info_body {
  margin-top: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.profile-info_left {
  width: 115px;
  margin-right: 30px;
}
.profile-info_right {
  width: 673px;
}
.profile-info_logo {
  width: 115px;
  height: 115px;
  cursor: pointer;
}
.profile-info_logo img {
  max-height: 115px;
  max-width: 115px;
}
.profile-info_name {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}
.profile-info_pen {
  width: 8px;
  height: 10px;
  display: inline-block;
  cursor: pointer;
  margin-left: 20px;
  position: relative;
  background: url("../img/pen.png") no-repeat center;
}
.profile-info_pen::after {
  content: 'ред.';
  color: #f3df6d;
  position: absolute;
  left: 10px;
  font-size: 12px;
}
.profile-info_address {
  font-size: 12px;
}
.profile-info_phone {
  font-size: 12px;
  letter-spacing: 0.6px;
}
.profile-info_about {
  width: 500px;
  line-height: 20px;
  font-size: 14px;
}
.profile-info_tags {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.profile-info_tags li {
  margin-right: 5px;
  font-size: 12px;
  background-color: #f6f6f6;
  padding: 8px;
  border-radius: 2px;
}
.profile--hidden {
  display: none;
}
.requests_logo-name {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.requests_time,
.response_time {
  color: #ccc;
  font-size: 12px;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}
.requests_body,
.response_body {
  padding: 15px;
  border-radius: 2px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.4px;
  position: relative;
  transition: background-color 0.3s ease-in;
}
.requests_body:before,
.response_body:before {
  transition: background-color 0.3s ease-in;
}
.requests_body--yellow,
.response_body--yellow {
  background-color: #fdf6d1;
}
.requests_body--yellow:before,
.response_body--yellow:before {
  border-right: 9px solid #fdf6d1;
}
.requests_body--yellow:before,
.response_body--yellow:before,
.requests_body--grey:before,
.response_body--grey:before {
  content: '';
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  position: absolute;
  left: -9px;
  top: 35%;
}
.requests_body--grey,
.response_body--grey {
  background-color: #f0f0f0;
}
.requests_body--grey:before,
.response_body--grey:before {
  border-right: 9px solid #f0f0f0;
}
.requests {
  margin-top: 25px;
  padding: 0 35px;
}
.requests_additional {
  margin: 14px 0 0 0;
  font-style: italic;
  font-size: 13px;
}
.requests_received,
.requests_sent {
  font-size: 16px;
}
.requests_logo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #f0f0f0;
  background-size: cover;
  backgroun-position: center;
}
.requests_logo img {
  height: 60px;
}
.requests_name {
  font-size: 14px;
  font-weight: 400;
  margin-left: 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.requests_body {
  padding: 15px;
  border-radius: 2px;
  font-size: 14px;
  letter-spacing: 0.4px;
}
.requests_item {
  margin-bottom: 50px;
}
.requests_request {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.requests_logo-name {
  width: 300px;
}
.requests_logo-name--company {
  margin-left: 20px;
  width: auto;
}
.requests_body {
  width: 350px;
}
.requests_time {
  text-align: center;
  width: 80px;
}
.response {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}
.response_time {
  width: 70px;
}
.response_body {
  width: 450px;
}
.response_textarea {
  outline: 0;
  border: none;
  resize: none;
  width: 430px;
  padding: 10px;
  margin: 0;
  font-size: 12px;
}
.response_buttons {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.response_cancel,
.response_answer {
  padding: 8px 12px;
  font-size: 12px;
  border-radius: 2px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-top: 10px;
}
.response_cancel {
  background-color: #fcf1f1;
}
.response_answer {
  background-color: #e4f3e5;
}
.response_info {
  width: 240px;
}
.sent-requests {
  margin-top: 35px;
}
.sent-requests_response-contacts {
  font-size: 12px;
  line-height: 17px;
  color: #ccc;
  margin-top: 7px;
}
.received-requests {
  margin-top: 35px;
}
.preloader-start {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border-style: dotted;
  -webkit-animation: preload 2.5s infinite linear;
          animation: preload 2.5s infinite linear;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  cursor: auto;
}
.preloader-end {
  width: 40px;
  height: 40px;
  border-color: transparent;
  cursor: auto;
}
.preloader-end:before {
  opacity: 1;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
@-webkit-keyframes preload {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes preload {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes success {
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@keyframes success {
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
