$font = Roboto, sans-serif

$orange = #fdf6d1

$yellow = #f3df6d

$grey = #f0f0f0

$color = #2d2d2d

center-text()
	display flex
	flex-direction column
	text-align center
	justify-content center
	
placeholder()
	&::-webkit-input-placeholder 
		{block}
	&::-moz-placeholder
		{block}
	&:-moz-placeholder
		{block}
	&:-ms-input-placeholder
		{block}
		
block-border()
	border 1px solid #efefef