$font = Roboto, sans-serif

$orange = #fdf6d1

$yellow = #f3df6d

$grey = #f0f0f0

$color = #2d2d2d

center-text()
	display flex
	flex-direction column
	text-align center
	justify-content center
	
button(color)
	center-text()
	font-size 12px
	width 170px
	height 40px
	cursor pointer
	border 4px solid color
	
placeholder()
	&::-webkit-input-placeholder 
		{block}
	&::-moz-placeholder
		{block}
	&:-moz-placeholder
		{block}
	&:-ms-input-placeholder
		{block}
		
block-border()
	border 1px solid #efefef
	
$count
	background-color $grey
	width 120px
	cursor pointer
	position absolute
	right 0
	top 20px
	height 35px
	font-size 12px
	center-text()
	
$header
	margin 25px 0 0 35px