.company-signup
	block-border()
	background-color white
	padding 20px 40px
	display flex
	flex-direction column
	align-items center
	transition .2s ease-in
	border none
	margin 0 0 10px 0
	background linear-gradient(to bottom, #FCE482 0%, #FDB334 100%)
	
	
	&_h3
		font-size 16px
		margin 10px 0
		text-align center
		
	&_p
		margin 0
		text-align center
		line-height 25px
		font-size 12px
		
	&_button
		button(rgba(126, 126, 126, 0.68))
		button__add--orange()
			
		&:hover
			opacity 0.8
			
	
	h3
		font-size 16px
		margin 10px 0
		text-align center
		
	p
		margin 0
		text-align center
		line-height 25px
		font-size 12px
		
#company-signup-auth
	text-align center
	
	.popup_input
		margin 5px auto