.create-company
	
	&_make,
	&_model
		position relative
		&:nth-child(2)
			margin-top 0px
	
	&_makes-models_item:not(:nth-child(2)) &_make
		margin-top 29px
		
	&-selectBox-dropdown-menu
		
		.selectBox-disabled
			display none
			
	ul&-spec-selectBox-dropdown-menu
		max-height 315px
		
	&_makes-models_item:nth-child(2) &_make .popup_redx
		display none
	
	&_lower,
	&_higher
		display flex
		justify-content space-between
	
	&_lower
		margin-top 50px
		
	&_makes-models_item
		position relative
		display flex
		justify-content space-between
		&:not(:nth-child(2))
			margin-top 20px
		
	&_makes-models_item:nth-child(2) &_make
		margin-top 0
		
	&_makes-models_item:nth-child(2) &_models .popup_header-field
		position absolute
		top -29px
	
	&_models
		width 297px
		
	&_makes-models
		margin-top 20px