.create-company
	
	&_make
		position relative
		
	&-selectBox-dropdown-menu
		
		.selectBox-disabled
			display none
			
	ul&_select-selectBox-dropdown-menu
		max-height 250px
	
	&_added &_make
		margin-top 20px
		
	&_makes > &_make .popup_redx
		display none