.found
	margin 35px 0 0 0
	
	h3
		margin 25px 0 0 35px
		font-size 18px
		word-spacing 2px
	
	ul
		margin 20px 0 0 0
		padding 0 35px
		
		li
			height 102px
			padding 15px
			cursor pointer
			
			&:hover
				background-color #faf7e9
			
	&_logo
		background url(../img/com_logo.jpg) center no-repeat
		width 100px
		height 100px
		border 1px solid $grey
		border-radius 2px
		float left
			
	&_text
		height 100px
		padding-left 20px
		display flex
		flex-direction column
		justify-content center
		
		h3, h5
			margin 0
		
		h3
			font-weight 400
			font-size 17px
			
		h5:first-of-type
			margin 10px 0
			font-size 12px
			font-weight 300
			
		h5:last-of-type
			color #ccc
			font-weight 300
			font-size 12px
			
	&_more
		button($grey)
		margin 20px auto