button(color)
	center-text()
	font-size 12px
	width 170px
	height 40px
	cursor pointer
	border 4px solid color
	
.wide-image
	background url(../img/background.jpg) center -164px no-repeat
	height 390px
	width 100%
	position absolute
	
.row-image
	background url(../img/row.jpg) center no-repeat
	width 70px
	height 30px
	
.search-side-bar
	background-color $yellow
	padding 15px 40px 30px
	border-radius 2px
	
	h3
		font-size 17px
		
	p
		margin 25px 0 0 0
		text-align center
		line-height 25px
		font-size 12px
		

	.s-s_toogler
		margin 10px 0 0 0
		display flex
		
		div
			font-size 14px
			background-color $orange
			margin-right 1px
			width 90px
			cursor pointer
			height 35px
			center-text()