.wide-image
	background url(../img/background.jpg) center -164px no-repeat
	height 615px
	width 100%
	position absolute
	
.row-image
	border-image url(../img/arrow.png) 3 22
	padding 0 32px
	font-size 14px
	center-text()
	height 30px
	border-right-width 30px
	
.show-orgs
	button($yellow)
	margin 0 auto 25px