.makes
	position relative
	margin 25px 0 0 0
	
	&_header
		display flex
		
		hr
			margin 17px 0 0 35px
			flex-grow 1
	
	&_count
		@extends $count
			
	ul
		margin 30px 0 0 70px
		height 250px
		display flex
		flex-flow column wrap
		
		li
			float left
			font-size 13px
			margin-bottom 5px
			padding 9px 15px
			
			span
				color #4e61eb
				text-decoration underline
				display inline-block
				cursor pointer
	
	&--live
		ul
			li
				padding 0
				span
					padding 9px 15px
					text-decoration none
					color $color
					&:active, &:hover
						background-color $orange