.makes
	position relative
	margin 30px 0 0 0
	
	&--feed
		margin 0
			
	ul
		margin-left 70px
		padding 30px 0
		cf()
		
		li
			float left
			font-size 13px
			width 125px
			margin-bottom 5px
			padding 9px 0px
			
			&>span
				color $blue
				display inline-block
				cursor pointer
				a	
					display inline
					text-decoration underline
	
	&--live
		display none
		ul
			li
				padding 0
				span
					padding 9px 15px
					text-decoration none
					color $color
					&:hover
						background-color $orange
	
	&--active
		span
			background-color $orange