.org-catalog
	border-radius 2px
	background-color white
	padding 25px
	border-left 4px solid $yellow
	
	&_header
		margin 0
	
	&_menu
		list-style none
		font-size 13px
		margin 20px 0 0 0
		padding 0
		
		li
			margin-bottom 15px
			
			&:last-child
				margin-bottom 0
				
		// ITS HERE
		
	&_add
		button($yellow)
		margin 40px auto 0