.parts
	position relative
			
	&_header
		margin 35px 0 0 0
		display flex
		
		hr
			margin 17px 0 0 35px
			flex-grow 1
			
	&_count
		@extends $count

	&_categories
		margin 10px 0 0 70px
		height 160px
		display flex
		flex-flow column wrap
		width 440px
		
		li
			float left
			font-size 12px
			margin-bottom 5px
			
			span
				padding 9px 15px
				display inline-block
				cursor pointer
				
				&.active, &:hover
					background-color $orange