.parts
	position relative
	margin 25px 0 0 0

	&_categories
		margin 10px 0 0 70px
		height 160px
		width 440px
		
		li
			float left
			font-size 12px
			width 200px
			margin-bottom 5px
			
			span
				padding 9px 15px
				display inline-block
				cursor pointer
				user-select none
				
				&:hover
					background-color #F9E27B
					
	&--active
		span
			background-color #F9E27B