#create-company-logo
	display none
	
.popup
	padding 30px
	background-color white
	margin auto
	border-radius 2px
	position relative
	

	&_redx
		width 10px
		position absolute
		top 19px
		right 10px
		height 10px
		cursor pointer
		margin auto
		background url(../img/redx.png) no-repeat center
		user-select none
		
		&--left
			left -20px
			margin 0
			
		&--simple
			position static
			display block
	
	&_plus-sign
		padding 5px
		width 25px
		position relative
		top -5px
		left 10px
		cursor pointer
		text-align center
		background-color $yellow
		border-radius 2px
		display inline-block
		user-select none
		
		&--flex
			position static
			margin-left 15px
	
	&_content
		margin auto
	
	&_comp-logo
		height 160px
		margin-top 10px
		text-align center
		
		img
			max-height 160px
			max-width 297px
			
	&_pick-file
		margin-left 20px
		font-size 13px
		border-radius 2px
		background-color $yellow
		padding 10px
		cursor pointer
		color $color
		
	&_header-field
		display flex
		align-items center
	
	&--search,
	&--reg
		width 450px
	
	&--search &_content,
	&--reg &_content
		width 300px
		
		
	&--feedback
		width 780px
		
	&--create-company
		width 660px
		
	&--feedback &_header
		text-align left
		

	
	&_header
		margin 0
		text-align center
		
		&--small
			font-weight 400
			font-size 15px
			
		&--left
			text-align left
		
	&_checks
		margin 20px 0
		
	&_checks &_label
		margin 0 10px 0 0
	
	&_check
		width 15px
		height 15px
		outline none
		margin-right 15px
		
		&:checked:after
			background white url(../img/tip.png) no-repeat center
		
		&:after
			content ''
			cursor pointer
			outline none
			width 20px
			height 20px
			background-color white
			display block
			border 1px solid #e4e4e4
			
	&_field
		display flex
		flex-direction column
		margin-top 20px
		
		&--makes
			margin-top 0
		
		&--feedback
			display flex
			flex-direction row
			justify-content space-between
			
	&_select
		padding 15px 10px
		cursor pointer
		font-size 13px
		display block
		outline none
		width 275px
		border 1px solid #e4e4e4
		
		background white url(../img/selectbox-arrow.png) no-repeat 95% center
		
		&-selectBox-dropdown-menu
			z-index 99999
			position absolute
			top 0
			border 1px solid #e4e4e4
			max-height 300px
			overflow-y auto
	
	&_option
		a
			background-color white
			padding 15px 10px
			cursor pointer
			font-size 13px
			display block
			outline none
			width auto
			&:hover
				background-color #eee
		
	&_label
		font-size 13px
		margin-bottom 5px
		
	&_input
		background-color white
		border 1px solid #e4e4e4
		width 275px
		color $color
		padding 15px 10px
		font-size 13px
		display block
		outline none
		
		&--header
			display block
			width auto
	
	&_textarea
		background-color white
		border 1px solid #e4e4e4
		width 275px
		color $color
		padding 15px 10px
		font-size 13px
		display block
		outline none
		resize none
		
		&--feedback
			display block
			width auto
		
	&_button
		button($yellow)
		margin 30px auto 0

.selectBox-disabled
	color #ccc
	
	a
		&:hover
			background-color white