$toogler--default
	color $yellow
	cursor pointer
	font-size 14px
	display inline-block
	
	&:first-child
		margin-right 40px

$toogler--active
	font-size 20px
	font-weight 400
	word-spacing 2px
	color black
	cursor auto

$request_logo-name
	display flex
	align-items center
	
$request_time
	color #ccc
	font-size 12px
	align-self center
			
$request_body
	padding 15px
	border-radius 2px
	font-size 14px
	line-height 18px
	letter-spacing .4px
	position relative
	
	transition background-color .3s ease-in
	
	&:before	
		transition background-color .3s ease-in
	
	&--yellow
		background-color $orange
		&:before
			border-right 9px solid $orange
		
	&--yellow,
	&--grey
		&:before
			content ''
			border-top 9px solid transparent
			border-bottom 9px solid transparent
			position absolute
			left -9px
			top 35%
		
	&--grey
		background-color $grey
		&:before
			border-right 9px solid $grey
			
.requests
	margin-top 25px
	padding 0 35px
	
	&_additional
		margin 14px 0 0 0
		font-style italic
		font-size 13px 
	
	&_toogler
		&--active
			@extends $toogler--active
	
	&_received,
	&_sent
		@extends $toogler--default
		font-size 16px
		
	&_logo
		width 85px
		height 85px
		border-radius 50%
		overflow hidden
		border 1px solid $grey
		
		background-size cover
		background-position center
		
		margin-bottom 10px
		
		img
			height 60px
		
	&_name
		font-size 14px
		font-weight 400
		center-text()
		
	&_body
		padding 15px
		border-radius 2px
		font-size 14px
		letter-spacing .4px
		
	&_item
		margin-bottom 50px
	
	&_request
		display flex
		justify-content space-between
		align-items flex-start
		margin-bottom 60px
		
	&_logo-name
		@extends $request_logo-name
		width 300px
		
		&--company
			width auto
			flex-direction column
			align-items flex-start

	&_body
		@extends $request_body
		width 350px
		
	&_time
		@extends $request_time
		text-align center
		width 80px

.response
	display flex
	justify-content space-between
	margin-top 15px
	
	&_time
		@extends $request_time
		width 70px

	&_body
		@extends $request_body
		width 450px
		
	&_textarea
		outline 0
		border none
		resize none
		width 430px
		padding 10px
		margin 0
		font-size 12px
		
	&_buttons
		display flex
		justify-content space-between
		
	&_cancel,
	&_answer
		padding 8px 12px
		font-size 12px
		border-radius 2px
		cursor pointer
		user-select none
		margin-top 10px
		
	&_cancel
		background-color #fcf1f1
		
	&_answer
		background-color #F3DF6D
		margin-left auto
		
		&:hover
			background-color #FDF6D1
		
	&_info
		width 240px
		
		
.sent-requests
	margin-top 35px
			
	&_response-contacts
		font-size 12px
		line-height 17px
		color #ccc
		margin-top 7px
		
.received-requests
	margin-top 35px