.search
	block-border()
	background-color #fff
	padding 20px 40px
	border-radius 2px
	margin 0 0 10px 0
	display flex
	flex-direction column
	align-items center
	border 3px solid $orange
	
	h3
		font-size 16px
		margin 10px 0
		
	p
		margin 0
		text-align center
		line-height 25px
		font-size 12px
		
	&_button
		button(rgba(126, 126, 126, 0.68))
		button__add--orange()

		&:hover
			color #FFF
			text-shadow 0 1px 4px #938E76
			text-shadow none
			
			