.specs
	border-radius 2px
	background-color white
	padding 25px
	
	border-left 3px solid $yellow
	border-right 1px solid #efefef
	border-top 1px solid #efefef
	border-bottom 1px solid #efefef
	
	&_header
		margin 0
	
	&_menu
		list-style none
		font-size 13px
		margin 20px 0 0 0
		padding 0
		
		li
			margin-bottom 15px
			
			&:last-child
				margin-bottom 0
				
	&_active
		color #ccc
		
	&_add
		button($yellow)
		margin 40px auto 0
		
	&:hover
		button--hover($yellow)
			
