.specs
	block-border()
	border-radius 3px 0 0 3px
	background-color white
	padding 25px
	border-left 1px solid #BBB
	border-right 1px solid #BBB
	border-top 1px solid #BBB
	border-bottom 1px solid #BBB
	transition .2s ease-in
	width 260px
	box-sizing border-box

	
	&:hover
		border-color #F4E177
	
	
	&_header
		margin 0
		color #2d2d2d
	
	&_menu
		list-style none
		font-size 13px
		margin 20px 0 0 20px
		padding 0
		list-style-type disc
		
		li
			margin-bottom 15px
			color #727272
			
			&:last-child
				margin-bottom 0
				
			a 
				color #222222
				text-decoration underline
				
				&:hover
					color #000
					text-decoration none
					
				
				
	&_active
		color #ccc
		
	&_add
		button($yellow)
		margin 40px auto 0
		
		&:hover
			button--hover($yellow)
			
