.type
	position relative
	margin 35px 0 0 0
	
	ul
		text-align center
		width 510px
		margin 15px 0 0 60px
		display flex
		justify-content space-between
		
	&_item
		width 130px
		height 100px
		display inline-block
		cursor pointer
		
		&--active span
			color $yellow
		
		div
			width 120px
			margin auto
			height 70px
			display flex
			justify-content center
			align-items center
			
		span
			font-size 12px
			display block
	
	&_item--active &_img--active
		display block
		
	&_item--active &_img--disactive
		display none
				
	&_img--active
		display none