.comments
	padding 25px 35px
	
	&_header
		margin 0
		font-weight 400
		
	&_send-button
		button($yellow)
		margin-top 15px
		display none
		
	&_textarea
		background-color white
		border 1px solid #e4e4e4
		width 770px
		min-height 70px
		color $color
		padding 15px 10px
		font-size 13px
		display block
		outline none
		resize none
		margin-top 20px
		
.comment
	display flex
	margin-top 20px
	
	&_right
		margin-left 10px
	
	&_ava
		width 40px
		height 40px
		background-size cover
		background-position center
		
	&_date
		color #ccc
		font-size 12px
		margin-left 20px
		
	&_header
		display flex
		align-items flex-end
		margin-top 10px
		
	&_name
		font-size 14px
		color $blue
		user-select none
		text-decoration underline
		cursor pointer
	
	&_content
		width 740px
		margin-top 10px
		line-height 25px
		letter-spacing .5px
		font-size 14px