.feedlist
	
	&_item
		padding 25px 35px
		display flex
		justify-content space-between
		align-items center
		
	&_header
		font-size 16px
		color $blue
		a
			text-decoration underline
			
	&_excerpt
		font-size 16px
		margin 10px 0
		
	&_date-user
		display flex
		
	&_date
		color #ccc
		font-size 14px
		margin-right 10px
		
	&_user
		color $blue
		font-size 14px
		
	&_votes
		display flex
	
	&_likes,
	&_dislikes
		font-size 20px
		font-weight 400
		display flex
		align-items center
		
		span
			margin-right 15px
	
	&_likes
		color #cbe887
		margin-right 20px
		
	&_dislikes
		color #dbdbdb