.feedlist
	
	&_header
		font-size 16px
		color $blue
		a
			text-decoration underline
	
	&_item
		padding 25px 35px
		display flex
		justify-content space-between
		align-items center
			
	&_excerpt
		font-size 16px
		margin 10px 0