.footer
	position relative
	background-color #2d2d2d
	margin-top 30px
	padding 0 10px
	min-height 110px
	
		
	&_list	
		padding-top:30px

		li
			margin-right 30px
			color #6a6a6a
			font-size 13px
			display inline-block
			
			&:hover
				color #a6a6a6	
			
	
	&_sign-up-block
		width 480px
		display flex
		padding 50px 0 20px 0
		margin 0 0 0 auto
		align-items center
		letter-spacing 0.03em
		
		
		h5
			margin 0
			color #e0e0e0
			font-weight 300
			text-align right
			padding-right 20px
			line-height 150%
			font-size 10px
			
	&_sign-up-button
		color #e0e0e0
		font-size 14px
		cursor pointer
		center-text()
		border 2px solid #e0e0e0
		border-radius 2px
		min-width 200px
		height 55px
		align-self flex-end
		button__reg(black)
		
		&:hover
			button__reg--hover(black)
		
	&_logo
		background url(../img/footer_logo.jpg) center no-repeat
		height 58px
		width 200px
		
	&_menu
		float left
		
	&_copyright
		display flex
		align-items center
		justify-content flex-end
		clear both
		
		&--text
			font-style italic
			width 100%
			
	&_rights
		color #6a6a6a
		font-weight 300
		
		a
			text-decoration underline
			display inline
			font-size 90%
		
