.footer
	position relative
	height 400px
	background-color #2d2d2d
	margin-top 30px
	
	.left		
		ul
			float left
			margin 35px 70px 0 0
			
			li:first-child
				color #e0e0e0
				font-size 14px
				margin-top 0
				
			li
				color #6a6a6a
				font-size 13px
				margin-top 15px
			
		h5
			color #6a6a6a
			font-weight 300
			margin-top 150px
			
	.right		
		width 215px
		
		h5
			margin 35px 0 0 0
			color #e0e0e0
			font-weight 300
		
	&_reg-button
		color #e0e0e0
		margin-top 40px
		font-size 14px
		cursor pointer
		center-text()
		border 2px solid #e0e0e0
		border-radius 2px
		width 200px
		height 55px
		
	&_logo
		background url(../img/footer_logo.jpg) center no-repeat
		height 100px
		margin-top 120px
		