.footer
	position relative
	background-color #2d2d2d
	margin-top 30px
	padding 0 10px
	
	&_row
		display flex
		justify-content space-between
		
		&:last-child	
			margin-top 30px
			width 100%
			flex-direction column-reverse
			align-items flex-end

		
	&_list
		float left
		margin 35px 70px 0 0
		
		li:first-child
			color #e0e0e0
			font-size 14px
			margin-top 0
			
		li
			color #6a6a6a
			font-size 13px
			margin-top 15px
	
	&_sign-up-block
		width 215px
		
		h5
			margin 35px 0 0 0
			color #e0e0e0
			font-weight 300
			
	&_rights
		color #6a6a6a
		font-weight 300
		
	&_sign-up-button
		color #e0e0e0
		margin-top 40px
		font-size 14px
		cursor pointer
		center-text()
		border 2px solid #e0e0e0
		border-radius 2px
		width 200px
		height 55px
		align-self flex-end
		button__reg(black)
		
		&:hover
			button__reg--hover(black)
		
	&_logo
		background url(../img/footer_logo.jpg) center no-repeat
		height 58px
		width 200px
		