.header
	background-color white

	.container
		height 100px
		// ------ all align mixin ------
		display flex
		align-items center
		justify-content space-between
		// -----------------------------
	
	&_logo
		background url(../img/logo.jpg) center no-repeat
		background-size 100%
		width 225px
		height 40px
	
	&_title
		color $color
		font-weight 300
		font-size 13px
		word-spacing 2px
		margin-top 10px
	
	&_inputs
		display flex
		position relative
		
	&_login,
	&_pass
		display flex
		justify-content center
		text-align center
		flex-direction column
		
		font-weight 300
		font-size 12px

		width 150px
		padding 8px
		border 2px solid $grey
		text-align left
		outline none
		
		+placeholder()
			color $color
		
	&_login
		margin-right 10px
	&_pass
		padding-right 30px
		width 130px
		
	&_submit-arrow
		background url(../img/sign-in-arrow.jpg) no-repeat
		width 26px
		height 26px
		position absolute
		right 4px
		top 4px
		cursor pointer
			
	&_register
		text-align right
		font-size 13px
		cursor pointer
		color $color
		margin-top 10px
			
.profile
	display flex
	align-items center
	align-content space-between
	
	span
		font-weight 700
		font-size 12px
	
	&_names
		margin 0 20px
		
		h5
			margin 0
			
		h5:last-child
			color #aaa
			font-weight 300
			font-size 12px
			margin-top 5px
			
	&_ava
		width 40px
		height 40px
		border-radius 50%
		overflow hidden
		
		img
			margin-top -10px