.menu
	height 60px
	background-color #2d2d2d
	padding 0 10px

	.container, &_item
		display flex
		align-items center
		justify-content space-between
		
	&_btn.active
		cursor default 
		a:hover
			cursor default 
		
	&_btn
		height 100%
		font-weight 300
		font-size 15px
		letter-spacing .4px
		color white
		margin 0 25px
		
		&:first-child
			margin-left 0
			
		&:hover, &.active
			color $orange

		a
			// --------------
			// center text mixin vertical align
			display flex
			flex-direction column
			text-align center
			justify-content center
			//---------------
			text-decoration underline
			
	&_sign-up
		center-text()
		border 2px solid white
		font-size 14px
		cursor pointer
		color white
		width 100px
		height 30px
		button__reg(black)
		
		&:hover
			button__reg--hover(black)