.catalog
	position relative
	overflow hidden
	
	.container
		position relative
		margin-top 25px
		cf()

	&_left
		margin-right 10px
		float left
		width 260px
		
	&_type
		@extends $header
		
	&_middle
		margin-right 10px
		float left
		width 598px
		background-color white
		block-border()

	&_right
		float right
		width 260px
		border-radius 2px	