.catalog-content
	position relative
	padding-top 1px
	background-color #f3f3f3

.wide-image
	background url(../img/background.jpg) center -120px no-repeat
	height 410px
	width 100%
	position absolute
	
.c_c
	position relative
	margin-top 130px
	cf()

// ----------------------------------
// left block
// ----------------------------------

.c_left
	margin-right 10px
	float left
	width 260px
	background-color white
	border-radius 2px
	
	color $color
	
	h3
		margin 25px 0 0 25px
		width 185px
		font-size 18px
		
	.c_menu
		list-style none
		font-size 13px
		margin 20px 0 0 25px
		padding 0
		
		li
			margin-bottom 15px
			
			&:last-child
				margin-bottom 0
				
.c_add-organization
	font-size 14px
	width 170px
	height 40px
	margin 35px auto
	cursor pointer
	
	border 4px solid $orange
	center-text()
	

	
// ----------------------------------
// / left block
// ----------------------------------
	

// ----------------------------------
// middle block
// ----------------------------------

.c_middle
	margin-right 10px
	float left
	width 600px
	background-color white
	border-radius 5px
	
// ----------------------------------
// / middle block
// ----------------------------------
	
.c_right
	float right
	width 260px
	background-color $yellow
	border-radius 2px