.feed
	position relative
	overflow hidden
	
	.container
		position relative
		margin-top 25px
		cf()
	
	&_left
		margin-right 10px
		background-color white
		float left
		width 868px
		block-border()
		
	&_right
		float right
		width 260px
		
	&_header
		@extends $header
		