.home
 	padding 0 10px 10px 10px
	overflow hidden

	.container
		position relative
		margin-top 25px
		display flex
		
	&_left
		margin-right 10px
		width 260px
				
	&_middle
		block-border()
		margin-right 10px
		width 598px
		background-color white
		border-radius 2px
		position relative

		&>h3
			@extends $header
			
	&_right
		width 260px