.home-content
	padding-top 1px
	
	.container
		position relative
		margin-top 25px
		
	&_left
		float left
		margin-right 10px
		width 260px
				
	&_middle
		margin-right 10px
		float left
		width 598px
		background-color white
		border-radius 2px
		block-border()
		position relative
		
		&>h3
			margin 25px 0 0 35px
			
		.toogler
			position absolute
			top 20px
			right 20px
			
			div
				background-color $grey
				
			div&_active
				background-color $orange
			
	&_right
		float right
		width 260px