.page
	position relative
	overflow hidden
	
	.container
		position relative
		margin-top 25px
		cf()
		display flex

	&_left
		margin-right 10px
		background-color white
		width 868px
		block-border()
		padding 15px 25px
		
	&_type
		@extends $header

	&_right
		width 260px
		border-radius 2px	