.page
	position relative
	overflow hidden
	
	.container
		position relative
		margin-top 25px
		cf()
		display flex

	&_left
		margin-right 10px
		background-color white
		width 868px
		block-border()
		padding 15px 40px 60px
		margin-bottom 40px
		
	&_type
		@extends $header

	&_right
		width 260px
		border-radius 2px
		
	ol
		margin-left 30px
		list-style-type decimal

		li
			margin-left 30px
	
	ul
		margin-left 20px
		margin-top 20px
		margin-bottom 30px
		list-style-type decimal