$toogler--default
	color $yellow
	cursor pointer
	font-size 14px
	display inline-block
	
	&:first-child
		margin-right 40px

$toogler--active
	font-size 20px
	font-weight 400
	word-spacing 2px
	color black
	cursor auto
	

.profile
	position relative
	overflow hidden
	
	.container
		position relative
		margin-top 25px
		cf()
		
	&_left
		margin-right 10px
		padding-bottom 25px
		float left
		width 868px
		background-color white
		block-border()
		
	&_right
		float right
		width 260px
		
	&_settings
		float right
		cursor pointer
		font-size 14px
		
		&-icon
			background url(../img/cogwheel.png) no-repeat center
			width 13px
			height 13px
			display inline-block
			position relative
			top 1px
	
	&_verify
		font-size 14px
		margin 25px 0 0 25px
		
		a
			color $blue
			display inline
		
.profile-info
	padding 0 35px
	margin-top 25px
	min-height 170px
		
	&_header
		cf()
		
	&_toogler
		float left
		
		&--active
			@extends $toogler--active
		
	&_company,
	&_profile
		@extends $toogler--default
		user-select none
			
	&_body
		margin-top 20px
		display flex
			
	&_left
		width 115px
		margin-right 30px
		
	&_right
		width 673px
		
	&_logo
		width 115px
		height 115px
		cursor pointer
		img
			max-height 115px
			max-width 115px
		
	&_name
		margin 0
		font-size 16px
		font-weight 400
	
	&_pen
		width 8px
		height 10px
		display inline-block
		cursor pointer
		margin-left 20px
		position relative
		background url(../img/pen.png) no-repeat center
		
		&::after
			content 'ред.'
			color $yellow
			position absolute
			left 10px
			font-size 12px
		
	&_address
		font-size 12px
		margin 7px 0
	
	&_phone
		font-size 12px
		letter-spacing .6px
		
	&_about
		margin 20px 0 0 0
		font-size 14px
		width 550px
		line-height 20px
		
	&_tags
		margin 20px 0 0 0
		display flex
		
		li
			margin-right 5px
			font-size 12px
			background-color #f6f6f6
			padding 8px
			border-radius 2px
			
.profile--hidden
	display none
			
$request_logo-name
	display flex
	align-items center
	
$request_time
	color #ccc
	font-size 12px
	align-self center
			
$request_body
	padding 15px
	border-radius 2px
	font-size 14px
	line-height 18px
	letter-spacing .4px
	position relative
	
	&--yellow
		background-color $orange
		&:before
			border-right 9px solid $orange
		
	&--yellow,
	&--grey
		&:before
			content ''
			border-top 9px solid transparent
			border-bottom 9px solid transparent
			position absolute
			left -9px
			top 35%
		
	&--grey
		background-color $grey
		&:before
			border-right 9px solid $grey
			
.requests
	margin-top 25px
	padding 0 35px
	
	&_toogler
		&--active
			@extends $toogler--active
	
	&_received,
	&_sent
		@extends $toogler--default
		font-size 16px
		
	&_logo
		width 45px
		height 45px
		border-radius 50%
		overflow hidden
		border 1px solid $grey
		
		img
			height 60px
		
	&_name
		font-size 14px
		font-weight 400
		margin-left 10px
		center-text()
		
	&_body
		padding 15px
		border-radius 2px
		font-size 14px
		letter-spacing .4px
		
	&_item
		margin-bottom 50px
	
	&_request
		display flex
		justify-content space-between
		align-items flex-start
		
	&_logo-name
		@extends $request_logo-name
		width 300px
		
		&--company
			margin-left 20px
			width auto

	&_body
		@extends $request_body
		width 350px
		
	&_time
		@extends $request_time
		text-align center
		width 80px

.response
	display flex
	justify-content space-between
	margin-top 15px
	
	&_time
		@extends $request_time
		width 70px

	&_body
		@extends $request_body
		width 450px
		
	&_textarea
		outline 0
		border none
		resize none
		width 430px
		padding 10px
		margin 0
		font-size 12px
		
	&_buttons
		display flex
		justify-content space-between
		
	&_decline,
	&_answer
		padding 8px 12px
		font-size 12px
		border-radius 2px
		cursor pointer
		user-select none
		margin-top 10px
		
	&_decline
		background-color #fcf1f1
		
	&_answer
		background-color #e4f3e5
		
	&_info
		width 240px
		
		
.sent-requests
	margin-top 35px
			
	&_response-contacts
		font-size 12px
		line-height 17px
		color #ccc
		margin-top 7px
		
.received-requests
	margin-top 35px