.room
	position relative
	overflow hidden

	.container
		position relative
		margin-top 25px
		cf()
		display flex

	&_content
		width 1140px
		min-height 600px
		background-color white
		padding 25px 35px
		